name: SAST

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
  push:

jobs:
  semgrep_actions:
    name: Semgrep
    runs-on: ubuntu-latest

    permissions:
      contents: write
      security-events: write

    container:
      image: returntocorp/semgrep

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: auto_blocking_scan
        run: semgrep scan --sarif --sarif-output=semgrep.sarif --error
        # non-blocking: semgrep scan --sarif --sarif-output=semgrep.sarif || true

      - name: Upload SARIF file to GitHub
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif
